In [1]:
import pandas as pd
import numpy as np
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/mac/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
# Read the train and test set
train = pd.read_csv('/Users/mac/Desktop/Thesis2/IMDB_dataset/Train.csv',nrows=10000)
test = pd.read_csv('/Users/mac/Desktop/Thesis2/IMDB_dataset/Test.csv',nrows=1000)
train.shape,test.shape

((10000, 2), (1000, 2))

In [3]:
train.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [4]:
test.head()

                                                text  label
0  I always wrote this series off as being a comp...      0
1  1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2  This movie was so poorly written and directed ...      0
3  The most interesting thing about Miryang (Secr...      1
4  when i first read about "berlin am meer" i did...      0

In [5]:
train.text.iloc[0]

'I grew up (b. 1965) watching and loving the Thunderbirds. All my mates at school watched. We played "Thunderbirds" before school, during lunch and after school. We all wanted to be Virgil or Scott. No one wanted to be Alan. Counting down from 5 became an art form. I took my children to see the movie hoping they would get a glimpse of what I loved as a child. How bitterly disappointing. The only high point was the snappy theme tune. Not that it could compare with the original score of the Thunderbirds. Thankfully early Saturday mornings one television channel still plays reruns of the series Gerry Anderson and his wife created. Jonatha Frakes should hand in his directors chair, his version was completely hopeless. A waste of film. Utter rubbish. A CGI remake may be acceptable but replacing marionettes with Homo sapiens subsp. sapiens was a huge error of judgment.'

In [6]:
#remove punctuation marks
punctuation = '!"#$%&()*+-/:;.,<=>?@[\\]^_`{|}~'
train['cleand'] = train['text'].apply(lambda x: ''.join(ch for ch in x if ch not in set(punctuation)))
test['cleand'] = test['text'].apply(lambda x: ''.join(ch for ch in x if ch not in set(punctuation)))

In [7]:
# convert text to lowercase
train['cleand'] = train['cleand'].str.lower()
test['cleand'] = test['cleand'].str.lower()

In [8]:
comments_train = train['cleand']
comments_test = test['cleand']
train_label = train['label']
test_label = test['label']

In [9]:
from nltk.corpus import stopwords

In [10]:
def clean_text(text):
    output = ""
    text = text.split(" ")
    for word in text:
        if word not in stopwords.words("english"):
            output = output + " " + word
    return  output

In [11]:
texts_train= [] 
for line in comments_train: 
    texts_train.append(clean_text(line))

In [12]:
texts_test= [] 
for line in comments_test: 
    texts_test.append(clean_text(line))

In [13]:
name=['text']
train_data=pd.DataFrame(columns=name,data=texts_train)
test_data=pd.DataFrame(columns=name,data=texts_test)

In [14]:
train_final = pd.concat([train_data, train_label], axis=1)
test_final = pd.concat([test_data, test_label], axis=1)

In [15]:
train_final.head()

                                                text  label
0   grew b 1965 watching loving thunderbirds mate...      0
1   put movie dvd player sat coke chips expectati...      0
2   people know particular time past like feel ne...      0
3   even though great interest biblical movies bo...      0
4   im die hard dads army fan nothing ever change...      1

In [16]:
import spacy

In [17]:
nlp = spacy.load('en_core_web_sm')
# function to lemmatize text
def lemmatization(texts):
    output = []
    for i in texts:
        s = [token.lemma_ for token in nlp(i)]
        output.append(' '.join(s))
    return output

In [18]:
train_final['cleand'] = lemmatization(train_final['text'])
test_final['cleand'] = lemmatization(test_final['text'])

In [19]:
train_final.head()

,text,label,cleand
0,grew b 1965 watching loving thunderbirds mate...,0,grow b 1965 watch loving thunderbird mate sc...
1,put movie dvd player sat coke chips expectati...,0,put movie dvd player sit coke chip expectati...
2,people know particular time past like feel ne...,0,people know particular time past like feel n...
3,even though great interest biblical movies bo...,0,even though great interest biblical movie bo...
4,im die hard dads army fan nothing ever change...,1,-PRON- be die hard dad army fan nothing ever...

In [20]:
train_final.text.iloc[0]

' grew b 1965 watching loving thunderbirds mates school watched played thunderbirds school lunch school wanted virgil scott one wanted alan counting 5 became art form took children see movie hoping would get glimpse loved child bitterly disappointing high point snappy theme tune could compare original score thunderbirds thankfully early saturday mornings one television channel still plays reruns series gerry anderson wife created jonatha frakes hand directors chair version completely hopeless waste film utter rubbish cgi remake may acceptable replacing marionettes homo sapiens subsp sapiens huge error judgment'

In [21]:
train_final.cleand.iloc[9]

"  super ex girlfriend turn pleasant surprise really expect horrible movie would probably stupid predictable know movie many wonderful laugh fun plot anyone could get kick know cheesy movie uma anna cool steve great addition along great cast look like much fun that be make movie really workbr br jenny johnsonscary that be good friend 's actual name typical average librarian look woman matt average male ask -PRON- be expect -PRON- 's ask ggirl date super hero world find jealous crazy girl really decide may good idea spend time apart jenny since -PRON- be fall another girl hannah make life live hell mean let -PRON- face choose good girl break withbr br effect corny seriously move past quickly story cast make story really work love uma movie step prime super ex girlfriend fun movie really take seriously cute romantic comedy think could get laugh anyone couldbr br 710"

In [22]:
for line in train_final['cleand']:
    line.strip()

In [24]:
#using strip get rid of the space
train_final['cleand'] = train_final['cleand'].str.strip()

In [25]:
test_final['cleand'] = test_final['cleand'].str.strip()

In [26]:
test_final.head()

,text,label,cleand
0,always wrote series complete stinkfest jim be...,0,always write series complete stinkf jim belush...
1,1st watched 1272002 3 10dirsteve purcell typ...,0,1st watch 1272002 3 10dirsteve purcell typic...
2,movie poorly written directed fell asleep 30 ...,0,movie poorly write direct fall asleep 30 minut...
3,interesting thing miryang secret sunshine act...,1,interesting thing miryang secret sunshine acto...
4,first read berlin meer expect much thought ri...,0,first read berlin meer expect much think right...

In [27]:
train_final.head()

,text,label,cleand
0,grew b 1965 watching loving thunderbirds mate...,0,grow b 1965 watch loving thunderbird mate scho...
1,put movie dvd player sat coke chips expectati...,0,put movie dvd player sit coke chip expectation...
2,people know particular time past like feel ne...,0,people know particular time past like feel ne ...
3,even though great interest biblical movies bo...,0,even though great interest biblical movie bore...
4,im die hard dads army fan nothing ever change...,1,-PRON- be die hard dad army fan nothing ever c...

In [28]:
type(test.label.iloc[0])

numpy.int64

In [42]:
train_final = train_final.drop(['text'],axis=1)
test_final = test_final.drop(['text'],axis=1)

In [43]:
train_final.to_csv('/Users/mac/Desktop/Train_elmo.csv',index=False)
test_final.to_csv('/Users/mac/Desktop/Test_elmo.csv',index=False)